<% if row == 2 %>
    <div class="ptable-stats ptable-<%= @genre %>">
      <b>These 118</b> words make up <b><%= @ptable_mass %>%</b> of all <%= @song_model %> Lyrics
      <p><%= @song_count %> Songs | <%= @global_count %> Words | <%= @percent_unique %>% Unique</p>
    </div>
<% elsif row == 3 %>
    <div class="element-detail bkg-<%= @genre %>">
      <h5>Element <%= @rank %></h5>
      <div><%= @element.word %></div>
    </div>
    <div class="element-detail bkg-<%= @genre %>">
      <h5>Frequency Count</h5>
      <div><%= @element.count %></div>
    </div>
    <div class="element-detail bkg-<%= @genre %>">
      <h5>Lyrical Mass</h5>
      <div><%= @lyrical_mass %>%</div>
    </div>
<% end %>