  <% elements = [*from..to] %>
  <% elements.each do |element| %>
    <% word = @elements[element-1][0] %>
    <% element == @rank ? (element_glow = "glow_on") : (element_glow = "glow_off") %>
    <td class="element">
      <p class="element-rank">
        <%= element %>
      </p>
      <p class="word-<%= @genre %>" id="<%= element_glow %>">
        <%= link_to word, periodic_table_path(genre: @genre, word: word, rank: element), id:"word" %>
      </p>
    </td>
  <% end %>
