<td class="element">
  <p class="element-rank">
    <%= elements %>
  </p>
  <p class="image word-<%= @genre %>">
    <%= image_tag(asset_path("rickety_micro_logo.jpg"), alt: "rickety rants micro logo") %>
  </p>
</td>