<% if row == 1 %>
    <%= render partial: 'get_element', locals: { element: 1 } %>
    <td class="colspan" colspan="16">
      <h2>
        <% unless @genre == "country" %>
          <%= image_tag("periodic_table_of_rap.gif", class: "img-responsive", alt: "Periodic Table of Rap") %>
        <% else %>
          <%= image_tag("periodic_table_of_country.gif", class: "img-responsive", alt: "Periodic Table of Rap") %>
        <% end %>
      </h2>
    </td>
    <%= render partial: 'get_element', locals: { element: 2 } %>
<% elsif row == 2 %>
    <%= render partial: 'get_element', locals: { element: 3 } %>
    <%= render partial: 'get_element', locals: { element: 4 } %>
    <td class="colspan" colspan="10">
      <%= render partial: 'get_stats', locals: { row: 2 } %>
    </td>
    <%= render partial: 'get_elements', locals: { from: 5, to: 10 } %>
<% elsif row == 3 %>
    <%= render partial: 'get_element', locals: { element: 11 } %>
    <%= render partial: 'get_element', locals: { element: 12 } %>
    <td class="colspan" colspan="10">
      <%= render partial: 'get_stats', locals: { row: 3 } %>
    </td>
    <%= render partial: 'get_elements', locals: { from: 13, to: 18 } %>
<% elsif row == 4 %>
    <%= render partial: 'get_elements', locals: { from: 19, to: 36 } %>
<% elsif row == 5 %>
    <%= render partial: 'get_elements', locals: { from: 37, to: 54 } %>
<% elsif row == 6 %>
    <%= render partial: 'get_element', locals: { element: 55 } %>
    <%= render partial: 'get_element', locals: { element: 56 } %>
    <%= render partial: 'get_spacer_pic', locals: { elements: "89:103" } %>
    <%= render partial: 'get_elements', locals: { from: 72, to: 86 } %>
<% elsif row == 7 %>
    <%= render partial: 'get_element', locals: { element: 87 } %>
    <%= render partial: 'get_element', locals: { element: 88 } %>
    <%= render partial: 'get_spacer_pic', locals: { elements: "56:71" } %>
    <%= render partial: 'get_elements', locals: { from: 104, to: 118 } %>
<% end %>