<% provide(:title, "#{@genre.capitalize} P.Table") %>
<div class="col-md-12 p-table">
  <table>
    <thead>
      <tr>
        <td class="row"></td>
        <% column = [*1..18] %>
        <% column.each do |i| %>
          <td class="info">
            <%= i %>
          </td>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% rows = [*1..7] %>
    <% rows.each do |i| %>
      <tr>
        <td class="row"><%= i %></td>
        <%= render partial: 'rows', locals: { row: i } %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div id="bottom-rows">
    <div id="one-timer" class="bkg-<%= @genre %>">
      <h5>One-Timer</h5>
      <div>
        <% if @genre == "country" %>
          <%= link_to @one_timer, country_songs_path(genre: @genre, search: " " + @one_timer, lyric_search: '1', anchor: "buttons") %>
        <% else %>
          <%= link_to @one_timer, hiphop_songs_path(genre: @genre, search: " " + @one_timer, lyric_search: '1', anchor: "buttons") %>
        <% end %>
      </div>
    </div>
    <table>
      <tbody>
        <tr>
          <%= render partial: 'get_elements', locals: { from: 57, to: 71 } %>
        </tr>
        <tr>
          <%= render partial: 'get_elements', locals: { from: 89, to: 103 } %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= render partial: 'shared/genre_footer', locals: { path: 'periodic_table' } %>