<% provide(:title, 'About') %>
<div class="col-md-12 about-page white-bkg">
  <h1>About RicketyRants.com</h1>
    <div class="about-faq-container">
      <div class="col-md-12 about-paragraphs">
         <p>
            Nothing says "This is America" like a toothless hillbilly standing next to a rapper in gold teeth. We live in a world of contrast... Ricketyrants celebrates this contrast.
          </p>
      </div>
      <div class="col-md-6 about-paragraphs">
        <h2> What is it?</h2>
        <div>
          <p>
            <b>1000 hiphop and country music lyrics spanning nearly 4 decades.</b>
            Statistical summaries of the top 118 most commonly used words for each genre (<%= link_to "Periodic Tables", periodic_table_path(genre: "hiphop") %>).<b>
            Interactive <%= link_to "lyrical calculators", hiphop_path(@rap_song) %> that count word frequency for any combination of songs. </b>A source of humorous, often offensive text-messages,<b> and coming soon: a coding blog describing my self-taught process while helping others to learn. </b>

          </p>
        </div>
      </div>
      <div class="col-md-6 about-paragraphs">
        <h2> What does it do?</h2>
        <p>
          Ricketyrants creates lyrical statistics by breaking down and counting songs to <b>identify the core "elements" making up each genre.</b> Elements are simply singular versions of words counted from songs. <b>The top 118 words represent the foundation of each genre,</b> lyrically speaking.
          Does it mean anything that the 'n-word' is the 21st most common used in Rap? If this word shifts in rank, does it correlate to any social shifts? Food for thought...
        </p>
      </div>
      <div class="col-md-12 about-paragraphs" id="about-ptable" >
        <h2>Periodic Tables?</h2>
        <p>
          <b>Here's how it works:</b> Song lyrics for each genre are combined into one massive sentence. Hyphenated words ("mother-trucker") are kept together as one word. Plural words are made singular. Common words then get grouped together, counted, and sorted by frequency (the number of times each word gets used in all 500 songs, including repeats).
        </p>
        <p>
          What you see are periodic tables consisting of 118 of the most commonly used words for each genre, <b>based on frequency.</b> These are real statistics based on real lyrics. No nonsense, just facts and numbers.
        </p>
        <p>
          Move over Bill Nye, here comes Biggie Smalls.
        </p>
        <p>
          For more details, see <b><%= link_to "Frequently Asked Questions", faqs_path %></b>
        </p>
      </div>
    </div>
  </div>