<% provide(:title, "Contact") %>

<div class="white-bkg" id="iliah-contact">
  <%= image_tag("iliah_m_spector_business_card_ricketyrants.jpg", class: "img-responsive", alt: "Iliah M. Spector Business Card.") %>
    <h2 class="iliah-contact">Need a website? Let me build it for you using Rails or WordPress</h2>
    <h3 class="iliah-contact">Iliah M. Spector | iliahmarc@gmail.com | <%= link_to "Linkedin/iliahmarc", 'https://www.linkedin.com/in/iliahmarc' %></h3>
  </div>
</div>


