<div class="col-md-12 about-page white-bkg">
  <h1>Frequently Asked Questions</h1>
    <div class="about-faq-container">
      <div class="col-md-6">
        <h2>What About Copyright?</h2>
        <p>
          RicketyRants use of lyrics falls under the legal category of <b>"fair use"</b>:<br>
        </p>
        <p>
          1. Lyrics assist word-counts, opening lines of educational discussion.<br>
          2. No persons financially tied to lyrics are harmed.<br>
          3. RicketyRants holds no bias or intent to harm.<br>
          4. RicketyRants profits nothing from lyrics, directly or indirectly.
        </p>
      </div>
      <div class="col-md-6">
        <h2>Is Hip Hop Rap?</h2>
          <p>
            Hip Hop and Rap are considered unique genres. However, overlaps do occur and the lines are not always well defined. Billboard charts often lump these categories together, so to avoid haphazardly interpreting what is and is not Hip Hop, RicketyRants simply followed suit.
          </p>
      </div>
      <div class="col-md-12" id="about-ptable" >
        <h2>Why These Songs?</h2>
        <p>
          Selected songs have made their respective industries trillions of dollars in revenue. They are "popular". They are "successful". And we've all probably heard them at one time or another.
        </p>
        <p>
          Songs were pulled from Billboard's "Year-End Charts", a time-tested standard to quantifying music popularity. For each year, 10 to 30 top-charted songs were selected and included in the Periodic count. <em>Rolling Stone's</em> 100 Greatest Hip Hop Song's of All Time were also included, providing many of the songs from the 80's.
        </p>
        <p>
          While 1000 songs is a statistically significant start, the ultimate goal is to have 95% of ALL American pop-lyrics in these Periodic Tables. Science doesn't know it yet, but it needs this to happen.
        </p>
      </div>
    </div>
  </div>