<% provide(:title, "Home") %>

<div class="row">
  <div class="col-md-4 home-cubes">
    <h2>
      <%= link_to "PERIODIC TABLE of COUNTRY", periodic_table_path(genre: "country") %>
    </h2>
    <%= link_to image_tag("periodic_table_country_ricketyrants.jpg", class: "img-responsive home-pic", alt: "Periodic Table of Country Music Lyrics"), periodic_table_path(genre: "country") %>
  </div>
  <div class="col-md-4 home-cubes">
    <h2>
      <%= link_to "THE RANTS", rants_path %>
    </h2>
    <%= link_to image_tag("ricketyrants_country_rap_dichotomy.jpg", class: "img-responsive home-pic", alt: "Hiphop and Country Music Dichotomy"), rants_path %>
  </div>
  <div class="col-md-4 home-cubes">
    <h2>
      <%= link_to "PERIODIC TABLE of HIP HOP", periodic_table_path(genre: "hiphop") %>
    </h2>
    <%= link_to image_tag("periodic_table_hiphop_ricketyrants.jpg", class: "img-responsive home-pic", alt: "Periodic Table of Hiphop Lyrics by Ricketyrants"), periodic_table_path(genre: "hiphop") %>
  </div>
</div>

<div class="row center-row">
  <div class="col-md-3 center-cubes" id="country-shadow">
    <%= image_tag("country_cowboy_sleeping_ricketyrants.jpg", class: "img-responsive spacer-pics", alt: "Country cowboy sleeping under tree") %>
  </div>
  <div class="col-md-6 center-cubes" id="logo-container">
    <%= image_tag("ricketyrants_logo.gif", class: "img-responsive", id: "logo-home", alt: "RicketyRants Logo") %>
  </div>
  <div class="col-md-3 center-cubes" id="rapper-shadow">
    <%= image_tag("jay_z_profile_rapping_ricketyrants.jpg", class: "img-responsive spacer-pics", alt: "Rapper with mic Silhouette ricketyrants") %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 home-cubes">
    <h2>
      <%= link_to "COUNTRY COUNTER - Lyrics", country_path(@country_song) %>
    </h2>
    <%= link_to image_tag("lyrics_calculator_country_music_ricketyrants.jpg", class: "img-responsive home-pic", alt: "Machine counted money covered in country lyrics ricketyrants"), country_path(@country_song) %>
  </div>
  <div class="col-md-4 home-cubes home-mobile">
    <h2>
      <%= link_to "COMMENTS", rants_path %>
    </h2>
    <%= link_to image_tag("comments_country_rap_ricketyrants.jpg", class: "img-responsive home-pic", alt: "Hiphop and Country Music Dichotomy"), rants_path %>
  </div>
  <div class="col-md-4 home-cubes">
    <h2>
      <%= link_to "HIP HOP COUNTER - Lyrics", hiphop_path(@rap_song) %>
    </h2>
    <%= link_to image_tag("lyrics_calculator_hiphop_ricketyrants.jpg", class: "img-responsive home-pic", alt: "Machine counted money covered in rap lyrics ricketyrants"), hiphop_path(@rap_song) %>
  </div>
</div>