  http://www.ricketyrants.com/
  http://www.ricketyrants.com/faqs
  http://www.ricketyrants.com/about
  http://www.ricketyrants.com/contact
  http://www.ricketyrants.com/country/home
  http://www.ricketyrants.com/hiphop/your-love
  http://www.ricketyrants.com/periodic_table?genre=hiphop
  http://www.ricketyrants.com/periodic_table?genre=country
  http://www.ricketyrants.com/rants
  http://www.ricketyrants.com/country/wish-you-were-here
<%# HIPHOP Songs %>
<% Rap.all.each do |song| %>
  <%= hiphop_url(song.slug) %>
<% end %>
<%# Country Songs %>
<% Song.all.each do |song| %>
  <%= country_url(song.slug) %>
<% end %>
<%# RANTS (text messages) %>
<% Rant.all.each do |rant| %>
  <%= rant_url(rant) %>
<% end %>
