<div class="row">
  <div>
    <%= form_tag(word_counter_path, method: "post") do %>
      <h2>Word Counter:</h2>
      <%= text_area_tag(:user_input, nil, rows: 10, cols: 50) %><br>
      <%= submit_tag "Save" %>
      <%= button_tag 'Reset', type: 'reset' %>
      <%= check_box_tag "output", value = 25, checked = false %> Show top 25 words only<br>
      <%= check_box_tag "checkbox", value = "1", checked = false %> Turn off filter (keep words like "and but or if etc...")
    <% end %>
  </div>
</div>