<% provide(:title, 'Word Counter') %>

<div class="row">
  <div class="col-md-6 form">
    <%= render partial: "form" %>
  </div>
  <div class="col-md-6 output">
    <% if @words %>
      <h2>Count Breakdown:</h2>
      <h4>
        <% count_words(@words, @output.to_i).each do |word| %>
          <b id="words_output"><%= "#{word.capitalize} | " %></b>
        <% end %>
      </h4>
    <% end %>
  </div>
</div>