<div class="col-md-12 switch-genre <%= "#{@genre}-theme" %>">
  <h3>
    <%= @genre.capitalize %> Music<br>
  </h3>
  <% if path == "country_lyrics" %>
    <em><%= link_to "(switch to #{@genre_inverse})", hiphop_path(@rap_song) %></em>
  <% elsif path == "hiphop_lyrics" %>
    <em><%= link_to "(switch to #{@genre_inverse})", country_path(@country_song) %></em>

  <% elsif path == "Song_search" %>
    <em><%= link_to "(switch to #{@genre_inverse})", hiphop_songs_path %></em>
  <% elsif path == "Rap_search" %>
    <em><%= link_to "(switch to #{@genre_inverse})", country_songs_path %></em>

  <% elsif path == "periodic_table" %>
    <em><%= link_to "(switch to #{@genre_inverse})", periodic_table_path(genre: @genre_inverse) %></em>
  <% end %>
</div>