<% provide(:title, "#{@genre.capitalize} Search") %>
  <div class="col-md-12 search">
    <%= render partial: 'shared/search_bar', locals: { for_page: 'song_search_one' } %>
  </div>

<% if params[:search] %>
    <% if @search_results.blank? %>
      <div class="col-md-12" id="search-container" >
        <div id="search-not-found">
          <em><%= params[:search] %></em> not found in <%= @genre.capitalize %> Music collection.<br>

        <% unless @lyric_search %>
          <% if @genre == "country" %>
            <%= link_to "(search #{@genre_inverse} music instead)", hiphop_songs_path(search: params[:search]) %>
          <% else %>
            <%= link_to "(search #{@genre_inverse} music instead)", country_songs_path(search: params[:search]) %>
          <% end %>
        <% else %>
          Whoops...not found. <%= link_to "Go Back", url_for(:back) %>
        <% end %>
        </div>

        <div id="search-tips">
          <h3>Search Tips</h3>
          <b>
            Search songs by: Artist, Title, and/or Year<br>
            Search with commas:
              <% if @genre == "country" %>
                "Keith Urban, Toby Keith, Picture to Burn, 2016"
              <% else %>
                "Biggie, Jay Z, Kanye West, 1989, Guilty Conscience"
              <% end %>
            <br>
              To search all Song lyrics, check "Search by Lyrics"
            <br>
            <br>
              Searching lyrics? Less words are better (1 to 3 total)... and check spelling.
          </b>
        </div>
      </div>
    <% else %>

      <div class="search-summary">
        <div id="search-success">
          <%= pluralize(@search_results.uniq.count, 'Song') %> found: <em><%= params[:search].upcase %></em>
        </div>
        <%= link_to "Go to Bottom", '#buttons' %> |
        <%= link_to "Clear Search Results", @genre_search_path %>
      </div>

      <%= form_tag(@genre_post_path, id:"search-results", method: "post") do %>
        <% @search_results.uniq.each do |song| %>
          <% if @genre == "country" %>
            <% genre_show_path = country_path(song) %>
          <% else %>
            <% genre_show_path = hiphop_path(song) %>
          <% end %>
          <div class="search-results">
            <div id="song-results">
              <em>
                <b><%= song.artist %> | <%= link_to song.title, genre_show_path %> (<%= song.year %>) : </b>
                <%= song.lyrics.truncate(100) %>
                <%= link_to "(lyrics)", genre_show_path %>
              </em>
            </div>
            <div id="search-checkbox">
              <%= check_box_tag 'box_ids[]', value = song.id, checked = true, class: "check-size" %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @search_results.count > 5 %>
        <div class="search-summary">
          <%= link_to "Go to Top", '#scroll100' %> |
          <%= link_to "Clear Search Results", @genre_search_path %> <br>
          <div id="search-success">
            <%= pluralize(@search_results.uniq.count, 'Song') %> found: <em><%= params[:search].upcase %></em>
          </div>
        </div>
      <% end %>

      <div class="col-xs-12 col-md-6 submit">
        <%= render partial: 'shared/submit_lyric_count', locals: { form: 'search-results'} %>
      </div>
      <div class="col-xs-12 col-md-6 search">
        <%= render partial: 'shared/search_bar', locals: { for_page: "song_index" } %>
      </div>
    <% end %>
<% else %>
    <div class="mizzart">
      <% @comic_cell = [*1..6] %>
      <% @comic_cell.each do |cell| %>
        <div class="col-md-4">
          <%= image_tag "mizz_loves_kitty_pebbles_comic_#{cell}.jpg", class: "img-responsive" %>
        </div>
      <% end %>
    </div>
<% end %>
  <div>
    <%= render partial: 'shared/genre_footer', locals: { path: "#{@song_model}_search" } %>
  </div>