<div class = "panel-group" id = "<%= show %>" >
  <div class = "panel-default">

    <div class="panel-heading">
      <h2 class="dropdown-title  <%= "#{@genre}-theme" %>">
        <a class=<%= "#{@genre}-link" %> data-toggle = "collapse" data-parent = "<%= show %>" href = "#collapse<%= show %>">
          <%= @genre.capitalize %> <%= show.capitalize %>
        </a>
      </h2>
    </div>

    <div id = "collapse<%= show %>" class = "panel-collapse collapse in">
      <div class="song-box DivWithScroll", style="-webkit-overflow-scrolling: touch;">

        <% if show == "words" %>
          <h4>
            <% count_words(@all_lyrics, @output.to_i).each do |word| %>
              <b id="words_output"><%= "#{word.capitalize} | " %></b>
            <% end %>
          </h4>
        <% elsif show == "song-list" %>
          <% @picked_songs.each_with_index do |song, i| %>
            <div id="list-box">
              <div id="list-number">
                <%= "#{i+1}" %>
              </div>
              <div id="list-song">
                <b><%= song.title %> :</b>
                <em><%= song.artist %></em>
                <% if @genre == "hiphop" %>
                  <%= link_to 'Lyrics', hiphop_path(song) %>
                <% else %>
                  <%= link_to 'Lyrics', country_path(song) %>
                <% end %>
              </div>
            </div>
          <% end %>

        <% elsif show == "lyrics" %>
          <%= simple_format(@song.lyrics, class: "lyrics") %>
            <div class="sources">
              Writer(s): <%= @song.writers %> |
              Copyright © <%= @song.copyright %>
            </div>

        <% elsif show == "song" %>
          <div class="song-year">
            <h5>
              <%= @song.year.to_s[0] %><br>
              <%= @song.year.to_s[1] %><br>
              <%= @song.year.to_s[2] %><br>
              <%= @song.year.to_s[3] %>
            </h5>
          </div>

          <div id="song-detail">
            <h3>
              <%= @song.title %><br>
              <em>by <%= @song.artist %></em>
            </h3>

            <div id="song-info">
              <h3>Top 5 Count</h3>
                <% count_words(@song.lyrics, 5).each do |word| %>
                  <b><%= "#{word.capitalize} | " %></b>
                <% end %>
              <br>
              <b>
                <%= raw_count(@song.lyrics) %> Words |
                <%= @percent_unique %>% Unique
              </b>
            </div>

            <div>
              <% if @genre == "country" %>
                <% genre_post_path = country_index_path %>
              <% else %>
                <% genre_post_path = hiphop_index_path %>
              <% end %>
              <%= form_tag(genre_post_path, method: "post") do %>
                <%= hidden_field_tag 'box_ids[]', @song.id %>
                <%= hidden_field_tag :output, 50 %>
                <%= submit_tag 'count this song', class: 'submit', id: 'see-more-button' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="count-summary">
      <% if show == "words" %>
        <%= @word_total %> words -
        <%= @percent_unique %>% unique (<%= @unique_words %>)
      <% elsif show == "song-list" %>
        <%= pluralize(@picked_lyrics.size, 'song') %>
      <% elsif show == "song" %>
        <%= @word_total %> total words
      <% elsif show == "lyrics" %>
        <%= @unique_words %> unique words
      <% end %>
    </div>
  </div>
</div>