<%= simple_form_for(@rant, multipart: true) do |f| %>
  <% if @rant.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@rant.errors.count, "error")} prevented success:" %>
      </h2>
      <ul>
        <% @rant.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-12" id="form-group-box">
  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
  </div>
    <div id="thumb-attach">
      <p><%= image_tag @rant.image.url %></p>
      <%= f.label :image, "Attach Thumbnail" %>
      <%= f.file_field :image, accept: 'image/jpeg,image/jpg,image/gif,image/png,image/tiff' %>
    </div>
  <div class="form-group custom">
    <%= f.button :submit %>
    <%= link_to "Cancel", :back %>
  </div>
</div>
<% end %>
<%# This javascript raises file-size error on front end ONLY %>
<script type="text/javascript">
  $('#rant_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > .2) {
      alert('Maximum file size is 200KB. Please choose a smaller file.');
    }
  });
</script>
