<%# note: @search_path and @show_all_songs in songs helper%>

<%= form_tag(@genre_search_path, method: "get", id: "#{for_page}", class: "search-form" ) do %>
  <em id="search">Search &amp; Count</em><br>
  <%= text_field_tag :search, params[:search], placeholder: " #{@genre} music" %>
  <%= submit_tag "Search", :data => { disable_with: false } %><br>
  <%= check_box_tag "lyric_search", value = '1', checked = @lyric_search_checkbox, form: "#{for_page}" %> <em>Search Lyrics</em> |
  <%= link_to "Show All Songs", @show_all_songs %><br>
  <em id="search-note"> use commas: "artist, artist2, title, year" </em>
<% end %>