<% provide(:title, "#{@genre.capitalize} Songs") %>
    <div id="<%= @genre %>-bkg-pic">
      <div class="col-md-12 scroll-box">
        <ul class="scroll100">
          <%= render partial: 'shared/song_cubes' %>
        </ul>
      </div>
      <div class="col-md-6 song-left">
        <% if @box_ids %>
          <%= render partial: 'shared/output', locals: { show: "song-list" } %>
        <% else %>
          <%= render partial: 'shared/output', locals: { show: "song" } %>
        <% end %>
      </div>
      <div class="col-md-6 song-right" >
        <% if @box_ids %>
          <%= render partial: 'shared/output', locals: { show: "words" } %>
        <% else %>
          <%= render partial: 'shared/output', locals: { show: "lyrics" } %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 submit">
      <%= render partial: 'shared/submit_lyric_count', locals: { form: 'song-cube'} %>
    </div>
    <div class="col-md-6 search">
      <%= render partial: 'shared/search_bar', locals: { for_page: 'song_show' } %>
    </div>
      <%= render partial: 'shared/genre_footer', locals: { path: "#{@genre}_lyrics" } %>