<%= form_tag(@genre_post_path, id:"song-cube", method: "post") do %>
  <% @songs.order("id").each do |song| %>
    <% if @genre == "country" %>
      <% genre_show_path = country_path(song, anchor: song.id) %>
    <% else %>
      <% genre_show_path = hiphop_path(song, anchor: song.id) %>
    <% end %>
    <div class="song-cube" id="<%= song.id %>">
      <h5 class="title">
        <%= link_to song.title.truncate(28), genre_show_path %>
      </h5>
      <h6 class= <%= @genre %> >
        <%= song.artist.truncate(17) %>
      </h6>
      <div class="rank">
        #<%= song.rank %>
      </div>
      <div class="check">
        <%= check_box_tag 'box_ids[]', value = song.id, checked = true, class: "check-size" %>
      </div>
    </div>
  <% end %>
<% end %>