<div>
  Show:
    <%= radio_button_tag "output", value = 100, checked = true, form: "#{form}" %> 100 words
    <%= radio_button_tag "output", value = 500000, checked = false, form: "#{form}" %> All words
</div>
<div>
  Filter <%= check_box_tag "checkbox", value = "1", checked = false, form: "#{form}" %> remove "and if it etc..."
</div>
<div id="buttons">
  <%= button_tag 'Reset', type: 'reset', id: 'check_all', form: "#{form}" %>
  <%= submit_tag 'Count Lyrics', form: "#{form}", class: 'submit' %>
</div>
<div>

To customize,
  <% if @genre == "hiphop" %>
    <%= link_to "Search & Count", hiphop_songs_path %>
  <% else %>
    <%= link_to "Search & Count", country_songs_path %>
  <% end %>
</div>