<div id="prev">
    <%= link_to "Prev Page", rants_path(page: (@page - 1) ) %>
  </div>
  <div id="page">
    <%= @page %>
  </div>
  <div id="next">
    <%= link_to "Next Page", rants_path(page: (@page + 1) ) %>
</div>