<div class="home-cubes rant-sidebar">
  <h2>
    <%= link_to "PERIODIC TABLE of HIP HOP", periodic_table_path(genre: "hiphop") %>
  </h2>
  <%= link_to image_tag("periodic_table_hiphop_ricketyrants.jpg", class: "img-responsive home-pic", alt: "Periodic Table of Hiphop Lyrics by Ricketyrants"), periodic_table_path(genre: "hiphop") %>
</div>

<div class="home-cubes rant-sidebar">
  <h2>
    <%= link_to "HIP HOP COUNTER - Lyrics", hiphop_path(@rap_song.id) %>
  </h2>
  <%= link_to image_tag("lyrics_calculator_hiphop_ricketyrants.jpg", class: "img-responsive home-pic", alt: "Stacked Money being machine counted like hiphop lyrics"), hiphop_path(@rap_song.id) %>
</div>

<div class="home-cubes rant-sidebar">
  <h2>
    <%= link_to "PERIODIC TABLE of COUNTRY", periodic_table_path(genre: "country") %>
  </h2>
  <%= link_to image_tag("periodic_table_country_ricketyrants.jpg", class: "img-responsive home-pic", alt: "Periodic Table of Country Music Lyrics by Ricketyrants"), periodic_table_path(genre: "country") %>
</div>

<div class="home-cubes rant-sidebar">
  <h2>
    <%= link_to "COUNTRY COUNTER - Lyrics", country_path(@country_song.id) %>
  </h2>
  <%= link_to image_tag("lyrics_calculator_country_music_ricketyrants.jpg", class: "img-responsive home-pic", alt: "Stacked Money being machine counted like country music lyrics"), country_path(@country_song.id) %>
</div>

<div class="home-cubes rant-sidebar">
  <h2>
    <%= link_to "THE RANTS", rants_path %>
  </h2>
  <%= link_to image_tag("ricketyrants_country_rap_dichotomy.jpg", class: "img-responsive home-pic", alt: "Hiphop and Country Music Dichotomy"), rants_path %>
</div>

<div class="home-cubes rant-sidebar">
  <h2>
    <%= link_to "COMMENTS", rants_path %>
  </h2>
  <%= link_to image_tag("comments_country_rap_ricketyrants.jpg", class: "img-responsive home-pic", alt: "Hiphop and Country Music Dichotomy"), rants_path %>
</div>

