<% unless @rants[rant].nil? %>
  <h2>
    <%= link_to @rants[rant].title.truncate(35), rant_path(@rants[rant]) %>
  </h2>
  <div class="rant-thumb">
    <%= link_to image_tag(@rants[rant].image, class: "img-responsive"), rant_path(@rants[rant]) %>
  </div>
<% else %>
  <%= image_tag("ricketyrants_dizz_dog1_blue.jpg", class: "img-responsive blue_mizz_pics", alt: "Bro-chick text message") %>
<% end %>