<% provide(:title, 'The Rants') %>
<% provide(:format, 'index') %>

<div class="prev-next-mobile">
  <%= render partial: 'rants/page_turner' %>
</div>

<div class="row">
  <div class="col-md-4 home-cubes">
    <%= render partial: 'rants/text_preview', locals: { rant: (0 + @page_offset) } %>
  </div>
  <div class="col-md-4 home-cubes">
    <%= render partial: 'rants/text_preview', locals: { rant: (1 + @page_offset) } %>
  </div>
  <div class="col-md-4 home-cubes">
    <%= render partial: 'rants/text_preview', locals: { rant: (2 + @page_offset) } %>
  </div>
</div>

<div class="row">
  <div class="col-md-3 home-cubes">
    <div>
      <%= image_tag("ricketyrants_mizz_cat#{@page}_blue_inverse.jpg", class: "img-responsive", alt: "rickety_rants_mizzart") %>
    </div>
  </div>
  <div class="col-md-6 home-cubes">
    <%= image_tag("ricketyrants_logo.gif", class: "img-responsive", id: "logo-rants", alt: "RicketyRants Logo") %>
    <div>
      <%= render partial: 'rants/page_turner' %>
    </div>
  </div>
  <div class="col-md-3 home-cubes">
    <%= image_tag("ricketyrants_mizz_cat#{@page}_blue.jpg", class: "img-responsive", alt: "Bro-chick text message") %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 home-cubes">
    <%= render partial: 'rants/text_preview', locals: { rant: (3 + @page_offset) } %>
  </div>
  <div class="col-md-4 home-cubes">
    <%= render partial: 'rants/text_preview', locals: { rant: (4 + @page_offset) } %>
  </div>
  <div class="col-md-4 home-cubes">
    <%= render partial: 'rants/text_preview', locals: { rant: (5 + @page_offset) } %>
  </div>
</div>

<div class="prev-next-mobile">
  <%= render partial: 'rants/page_turner' %>
</div>
