<% provide(:title, @rant.title) %>
<% provide(:format, 'sidebar') %>

<div class="nav-spacer"></div>
  <div>
    <div class="rant-content col-xs-12 col-sm-8 col-md-8 DivWithScroll">
      <div class="rant-header">
        <h2><%= @rant.title %></h2>
        <%= link_to "(see all rants)", rants_path %>
      </div>
      <div id="rant-body">
        <%= raw @rant.body %>
      </div>
      <div class="rant-header">
        <%= link_to "Back to All Rants", rants_path %>
        <% if logged_in? %>
          | <%= link_to "Delete Post", rant_path(@rant), method: :delete, data: {confirm: "Really delete post?"} %>
          | <%= link_to "Edit Rant", edit_rant_path(@rant) %>
        <% end %>
      </div>
    </div>
    <div class="sidebar col-sm-4 col-md-4 DivWithScroll">
      <%= render partial: 'sidebar' %>
    </div>
  </div>
  <h2 class="col-md-12 rant-header" id="scroll-header">More Rants</h2>
  <div class="col-md-12 scroll-box" id="rant-scroll">
    <ul class="scroll100">
      <% @rants.each do |rant| %>
        <div class="rant-cube">
          <%= link_to rant.title, rant_path(rant) %>
          <%= link_to image_tag(rant.image, class: "img-responsive"), rant_path(rant) %>
        </div>
      <% end %>
    </ul>
  </div>