@import "bootstrap-sprockets";
@import "bootstrap";

@media (max-width: 39em){
  div.sidebar {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 49.55em){
  div.row .home-cubes, div.center-cubes {
    height: auto;
    padding: 0;
    .spacer-pics {
      max-height: 8.5em;
    }
    h2 {
      font-size: 1.3em;
    }
  }
  div#country-shadow, div#rapper-shadow {
    margin: 0;
  }
  div.rant-thumb {
    height: auto;
    padding: 0 .5em .5em .5em;
  }
  div#rant-body {
    padding: .5em;
  }
}

@media (max-width: 35em){
    nav h5 {
        display: none;
        visibility: collapse; }
    footer .hide-mobile, tr td.row {
        display: none;
        visibility: hidden; }
}

@media (min-width: 49.55em){
    div.prev-next-mobile {
        display: none;
        visibility: hidden; }
}

@mixin white_on_black {
  color: #fff;
  background: #222;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/**
 * AP01 - Global Values
 * CH01 - Typography
 * CH02 - Header & Navigation
 * CH03 - Footer
 * CH04 - Home Page
 * CH05 - Count Lyrics Page
    * CH05a - Count Lyrics scrollbar
    * CH05b - Count Lyrics Song Search Bar (show and index)
    * CH05c - Count Lyrics Input Submit Buttons (show and index)
    * CH05d - Count Lyrics Search Results (index)
 * CH06 - Periodic Table Page
 * CH07 - Word Counter Page
 * CH08 - Rant pages
    * CH08A - Rant Show Page: Rant_scrollbar
    * CH08B - Rant Sidebar
    * CH08C - Rant Home Page
    * CH08D - Rant New Rant
 * CH09 - Static Pages (contact about faq)
 * CH200 - Miscellaneous
**/

/** Development Only CSS -----------------------------**/
/* {
    border: solid black .5px; } */

/** AP01 - Global values  ----------------------------**/
$graybrown: #a9816d;

body {
  background: #393838;
}

div.alert {
  margin: 0;
}

div.row {
  margin: 0 .1em;
}

/** CH01 - Typography --------------------------------**/


/** CH02 - Header & Navigation -----------------------**/

.navbar {
  min-height: 2em;
  margin-bottom: 0;
}

nav h5 {
  display: inline-block;
  color: #fff;
  font-style: italic;
  padding: .65em;
  position: absolute;
  font-weight: 400;
  font-size: 1.2em;
  margin: 0;
}

#nav-container {
  width: 100%;
  padding: 0;
}

#container-size {
  width: 99%;
  padding: 0;
  background: #fff;
}

div.nav-left, div.nav-right {
    padding: 0 .25em;
  }

#nav_logo {
    font-size: 1.8em;
    color: #fff;
}

#nav_logo:hover {
  color:  #b9b7b7;
  text-decoration: none;
}
  /* navbar dropdown ----------------------------*/

    li#new-rant a {
      background-color: #649bb9 !important;
    }

    ul#nav-list {
      float: right;
      margin: 0;
    }

    ul#nav-list li a {
      @include white_on_black;
      padding: .7em;
      width: 13em;
      text-align: right;
      font-size: 1.2em;
      span {
        font-size: 1.4em;
      }
    }

    ul#nav-list li a:hover {
      color: #b9b7b7;
    }

    #dropdown-menu {
      position: absolute;
      padding: 0;
      .divider {
        margin: 0.05em;
      }
    }

    li.dropdown a#dropdown-toggle {
      background: none;
      padding: .5em;
    }

    li.dropdown.open em {
      background: #fff;
      display: block;
      height: .2em;
    }

/** CH03 - Footer ------------------------------------**/

span.foot-link {
  float: right;
  margin: .3em 1em .3em 0;
  li {
    margin-left: 1em;
  }
}

footer {
  font-size: 1.2em;
  letter-spacing: 1px;
  nav {
    height: 3em;
    @include white_on_black;
  }
  ul {
    padding-left: .5em;
    margin: 0;
  }
  li {
  display: inline-block;
  text-align: center;
  margin-top: .4em;
  }
}

/** CH04 - Home Page  --------------------------------**/

div.home-cubes {
  height: 16.2em;
  background-color: #222;
  border: .1em solid #656464;
  padding-top: .5em;
  overflow: hidden;
  h2 {
    background: #3d5369;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding: .75em .2em;
    a {
      color: #fff;
      font-family: Century Gothic, sans-serif;
      font-weight: 600;
    }
  }
}

div.center-row {
  background: #222;
}

.center-cubes {
  height: 12em;
}

#rapper-shadow {
  background: #3A3839;
  margin-left: -1.2em;
  margin-right: 1.2em;
  padding-right: 0;
}

#country-shadow {
  background-image: image-url('wood_background.jpg');
  margin-left: 1.2em;
  margin-right: -1.2em;
  padding-left: 0;
}

div#logo-container {
  display: flex;
  padding: 0;
  background: #222;
  padding-right: 1.2em;
}

.home-pic {
  max-height: 11.5em;
}

#logo-home {
  padding: .5em;
}

/** CH05 - Count Lyrics page (songs#show) -----------------**/

a.country-link {
  color: #222;
}

a.hiphop-link {
  color: #fff;
}

div#hiphop-bkg-pic {
  background-image: image-url('hiphop_field_bkg_ricketyrants.jpg');
  /*background-position: 50% 90%;*/
  overflow: hidden;
}

div#country-bkg-pic {
  background-image: image-url('country_field_bkg_ricketyrants.jpg');
  overflow: hidden;
}

div.song-right, div.song-left, div.panel-heading {
  padding: 0;
  #song-list, #words, #song, #lyrics {
    margin: 0;
  }
  h2 {
    margin: 0;
    text-align: center;
    padding: .25em;
    font-size: 1.5em;
  }
  h3 {
    margin: .4em 0 .3em 0;
    padding-bottom: .2em;
    font-size: 1.4em;
    background: #fff;
    opacity: .8;
    filter: alpha(opacity=80);
  }
  h4 {
    padding: .25em .5em;
    margin: 0 1.5em;
    background: #fff;
    opacity: .8;
  }
  b {
    font-size: 1em;
  }
  b#words_output {
    white-space: nowrap;
    line-height: 1.7em;
  }
}

div.song-left {
  text-align: center;
}

div#song-detail {
  margin: .25em .5em .5em 2.9em;
  h3 {
    color: #870101;
  }
  h3 em {
    color: #222;
  }
}

div#song-info {
  background: #fff;
  opacity: .8;
  filter: alpha(opacity=80);
  h3 {
    background: #222;
    color: #fff;
    margin: 0;
    padding: .2em;
  }
  b{
    font-size: 1.2em
  }
}

div.count-summary {
  text-align: center;
  font-size: 1.3em;
  @include white_on_black;
}

div.song-box {
  height: 18em;
  padding: .5em 0;
}

div.sources {
  font-size: .75em;
  text-align: center;
  background: #fff;
  opacity: .8;
  font-weight: 600;
}

p.lyrics {
  font-size: 1.1em;
  font-weight: 600;
  padding: 1em 1.5em;
  background: white;
  width: 90%;
  margin: .5em auto;
  opacity: .8;
  filter: alpha(opacity=80);
}

.DivWithScroll {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /*placed in view (does not work from here... bug?) - per stack overflow advice */
}

.song-year {
  float: left;
  height: 100%;
  border: solid #222;
  @include white_on_black;
  h5 {
    font-size: 2.5em;
    margin: 1.1em 0;
    padding: .1em;
    font-weight: 300;
  }
}

div#list-box {
  background: #222;
  border: .1em solid #222;
  width: 95%;
  margin: auto;
}

#list-number {
  color: #fff;
  width: 12%;
  display: inline-block;
  float: left;
  padding: .5em .25em 0 0;
}

#list-song {
  width: 88%;
  display: inline-block;
  padding: .5em;
  text-align: left;
  background: #e9eaea;
  em {
    font-weight: 500;
  }
}

  /** CH05a - Count Lyrics song_scrollbar  --------------------**/

div.rank {
  float: left;
  font-size: 1.5em;
  width: 50%;
  background: #DEDEDE;
  border-radius: 0 0 0 .5em;
}

div.check {
  float: right;
  width: 50%;
  background: #282828;
  border-radius: 0 0 .5em 0;
  height: 2.25em;
}

.scroll100 {
  padding: .5em .2em;
  margin: 0;
  width: 5140em;
  background: #373737;
}

input.check-size {
  width: 30px;
  height: 30px;
  float: right;
  margin: 0 1.3em 0 0;
}

.scroll-box {
  overflow-x: auto;
  padding-left: 0;
  -webkit-overflow-scrolling: touch;
}

.song-cube {
  display: inline-block;
  width: 10em;
  text-align: center;
    h5 {
      height: 2.6em;
      font-size: 1.1em;
      margin: 0;
      background: #DEDEDE;
      padding: .2em;
      border-radius: .5em .5em 0 0;
      :hover {
        text-decoration: none;
      }
      a {
        color: #333;
      }
    }
    h6 {
      margin: 0;
      padding: .3em 0;
      font-size: 1em;
      font-weight: bold;
    }
    h6.hiphop {
      background: #282828;
      color: #fff;
      font-weight: 500;
    }
    h6.country {
      background-image: image-url('wood_sliver_small.jpg');
    }
}

/** CH05b - Count Lyrics Song Search Bar (show and index)  --------------------**/

input#search {
  margin: .3em 0;
}

form.search-form {
  em {
    color: #fff;
  }
  em#search-note {
    font-size: 1.1em;
    font-style: normal;
    font-weight: 300;
  }
  em#search {
    font-size: 1.3em;
  }
}

div.search, div.submit {
  padding: .25em .5em .5em .75em;
  height: 8.1em;
  background: #222;
}

div.submit {
  background: #dedede;
  font-weight: 600;
}

/** CH05c - Count Lyrics Input Submit Buttons (show and index) -------------**/

div#buttons {
  padding: .25em 0;
  input.submit, button {
    margin-top: 0;
  }
  button#check_all {
    border: none;
    background: #222;
  }
}

input.submit {
  border: #2f5bb7;
  background: #357ae8;
}

input.submit, button {
  padding: .25em 1em;
  font-size: 1.2em;
  margin-top: .75em;
  color: #fff;
}

/** CH05d - Count Lyrics Search Results (index) -------------**/

.country-theme {
  background-image: image-url('wood_sliver_med.jpg');
}

.hiphop-theme {
  background: #393838;
  color: #fff;
}

#search-container {
  padding: 0;
}

#search-not-found {
  text-align: center;
  font-size: 1.6em;
  font-weight: 500;
  padding: 2em;
  em {
    color: #870101;
  }
}

div.search-results {
  border: .1em solid #222;
  clear: both;
  #song-results {
    float: left;
    width: 90%;
    padding: .5em;
  }
  #search-checkbox {
    float: right;
    width: 10%;
    .check-size {
      margin: .2em .5em 0 0;
    }
  }
}

div.search-summary {
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  em {
    font-weight: 600;
  }
}

div#search-success {
  background-color: #dff0d8;
  color: #3c763d;
  border-color: #d6e9c6;
  padding: .5em;
}

div#search-tips {
  background: #b3ccd6;
  padding: 1em;
  font-size: 1.3em;
  h3 {
    background: #fff;
    text-align: center;
    margin: 0 0 .25em 0;
    padding: .2em;
  }
}

div.switch-genre {
  text-align: center;
  padding: .25em 0;
  clear: both;
  h3 {
    margin:0;
  }
  em {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.3em;
  }
}

div.mizzart div {
  padding: 0;
}

/** CH06 - Periodic Table Page (/hiphop_science)--**/

div.p-table {
  border: .2em solid #222;
  background-color: #222;
  padding: 0;
  text-align: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  table {
    min-width: 67em;
  }
}

td.colspan {
  color: #fff;
  font-weight: 300;
  h2 {
    margin: 0;
  }
}

div.ptable-stats {
  font-size: 1.3em;
  p {
    font-size: .75em;
    margin: 0;
  }
}

div.ptable-country {
  background: #363636;
}

div.element-detail {
  display: inline-block;
  width: 32%;
  font-size: 1.1em;
}

.element-detail, #one-timer {
  color: #fff;
  border: .1em solid #9a9898;
  h5 {
    margin: 0;
    padding: .1em;
    font-weight: 300;
    font-size: 1.1em;
  }
}

.bkg-country h5{
  background: #363636;
}

.bkg-hiphop h5{
  background: #9F0509;
}

div#one-timer {
    width: 15%;
    float: left;
    margin: 0 .5em;
    div {
      padding: .4em 0 .5em 0;
      font-size: 1.3em;
    }
}

td.info, td.row {
  background: #363636;
  color: #fff;
  border: .1em solid #222;
  font-size: .8em;
}

td.row {
  width: 5em;
}

td.element {
  width: 10em;
  font-size: 1.1em;
  border: .1em solid #222;
  a {
    color: #222;
  }
  p {
    margin: 0;
  }
  p.element-rank {
    font-size: .8em;
    height: 1.4em;
    color: #fff;
    background-color: #363636;
  }
  p.word-hiphop, p.word-country, p.image {
    font-weight: 600;
    padding: .3em .1em;
  }
  p.word-hiphop {
    background: #C0C0C0;
  }
  p.word-country {
    background-image: image-url('wood_sliver_small.jpg');
  }
  p.image {
    padding: .1em 0 .05em 0;
  }
}

div#bottom-rows {
  min-width: 67em;
  margin-top: 1em;
  table {
    min-width: 0;
  }
}

.img-responsive {
  margin: auto;
}

#glow_on {
  background: #8ab1ee;
}

/** CH07 - Word Counter Page (/wc_new) -----------**/

.output div {
    font-size: 1.2em; }

.output {
    width:  49%; }

/** CH08 - Rant Pages ---------------------------------**/


#logo-rants {
  padding: 1em 0 .5em 0;
  margin: auto;
}

.spacer-pics {
  max-height: 12em;
}

.rant-thumb {
  padding: .5em 1.5em 0 1.5em;
}

.rant-header {
  text-align: center;
  margin: 0;
  h2 {
    margin: 0;
  }
}

#rant-body {
  padding: 3em;
  background: white;
}

div.rant-content {
  float: right;
  height: 32em;
  padding: 0;
  background: #D3D3D3;
  p {
    background: #fff;
    margin-bottom: 0;
  }
  a {
    font-size: 1.2em;
  }
}

/** CH08A - Rant Show Page: Rant_scrollbar-------------**/

div#rant-scroll {
  clear:both;
  .scroll100 {
    width: 143em;
  }
}

#scroll-header {
  font-size: 1.8em;
  background: #a2afb4;
  clear: both;
}

div.rant-cube {
  height: 8em;
  width: 20em;
  overflow: hidden;
  text-align: center;
  border-radius: 1em;
  background: #296bac;
  display: inline-block;
  a{
    color: #fff;
  }
}

/** CH08B - Rant Sidebar -------------------------------**/

div#sidebar-thumb {
  float: left;
}

div#sidebar-body p {
  margin-bottom: 0;
}

.sidebar  {
  padding: 0;
  background-color: #E6E1E1;
  height: 32em;
  float: left;
}

div.rant-sidebar {
  height: auto;
  padding: 0;
}

/** CH08C - Rant Home Page ---------------------------**/

div#next, #prev, #page {
  text-align: center;
  a {
    display: inline;
  }
}

div#next {
  float: right;
  width: 45%;
  font-size: 1.5em;
}

div#page {
  width: 10%;
  display: inline-block;
  color: #fff;
  font-size: 1.5em;
}

div#prev {
  float: left;
  width: 45%;
  font-size: 1.5em;
}

div.prev-next-mobile {
  margin: .1em;
  padding: .25em;
  background: #222;
}

div#index-container {
  padding: 1em;
  background-color: #E6E1E1;
}

#index-rant-cube {
  width: 32%;
  display: inline-block;
  overflow: hidden;
}

/** CH08D - Rant New Page ----------------------------**/

div.form-group.custom a {
  display: inline-block;
  float: left;
  padding: .4em 2em;
  border-radius: .2em;
  background: #dedada;
  text-decoration: none;
  font-weight: bold;
}

div#form-group-box {
  padding: 0 3% 1% 5%;
  background-image: image-url('wood_wall.jpg')
}

input#rant_title, div#cke_rant_body {
  border: .15em solid #222;
}

input#rant_title {
  width: 60%;
  margin-left: 17%;
}

div.form-group {
  margin-bottom: 0;
}

input.btn {
  background-color: #62b9f6;
  border-color: #005999;
  font-weight: bold;
  font: #fff;
}

label.control-label {
  background-color: #f5efeb;
  width: 4em;
  font-size: 1.2em;
  margin-left: 45%;
  margin-top: 1%;
}

#thumb-attach {
  padding-bottom: 1em;
  label, input {
    background: #f5efeb;
    width: 30%;
    min-width: 15em;
  }
  label {
    text-align: center;
  }
  img {
    float: left;
    padding: .4em;
  }
}

/** CH09 Static Pages (contact about faq) -----------------------------**/

.about-page h1 {
  text-align: center;
  margin: .5em;
  font-size: 2.25em;
}

div.about-faq-container {
  div p {
    font-size: 1.3em;
  }
  h2 {
    text-align: center;
    margin-top: .3em;
    font-size: 1.6em;
    padding: .5em;
    background: #3d5369;
    color: #fff;
  }
}

#about-ptable {
  margin: 1em 0;
  background: #D3D3D3;
  padding: 1em;
}

h2.iliah-contact {
  margin: 0;
  text-align: center;
  padding: .5em;
  padding-top: 0;
}

h3.iliah-contact {
  text-align: center;
  margin-top: 0;
  padding-bottom: 1em;
}

.white-bkg {
  background: #fff;
}

.about-paragraphs p{
  padding: 0 1em;
}

/** CH200 - Miscellaneous -----------------------------**/

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: .5%;
}
