<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to image_tag("rails.png", alt: "ruby on rails logo"), 'http://rubyonrails.org/' %></li>
      <li><%= image_tag(asset_path("logo_scratchy.jpg"), alt: "scratchy logo") %></li>
      <li class="hide-mobile" style="font-size: .75em;">© 2017 All Rights Reserved.</li>
      <span class="foot-link">
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li class="hide-mobile">
          <%= link_to "Contact", contact_path %>
        </li>
        <li class="hide-mobile">
          <%= link_to "About", about_path %>
        </li>
      </span>
    </ul>
  </nav>
</footer>