<header class="navbar navbar-inverse">
  <nav class="container" id="nav-container">
    <div class="col-xs-9 nav-left">
      <%= link_to "RicketyRants", root_path, id: "nav_logo" %>
        <h5>A place of elegant irreverence</h5>
    </div>
    <div class="col-xs-3 nav-right">
      <ul id="nav-list" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdown-toggle" data-toggle="dropdown"><span>|||||||</span> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" id="dropdown-menu">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "The Rants", rants_path %></li>
              <em></em>
                <li><%= link_to "HipHop Counter - Lyrics", hiphop_path(@rap_song) %></li>
                <li><%= link_to "Periodic Table of Hip Hop", periodic_table_path(genre: "hiphop") %></li>
              <em></em>
                <li><%= link_to "Country Counter - Lyrics", country_path(@country_song) %></li>
                <li><%= link_to "Periodic Table of Country", periodic_table_path(genre: "country") %></li>
              <em></em>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
                <li><%= link_to "FAQs", faqs_path %></li>
            <% if logged_in? %>
              <li class="divider">
              </li>
              <li id="new-rant">
                <%= link_to "NEW RANT", new_rant_path %>
              </li>
              <li>
                <%= link_to "Log Out", fatkat_out_path, method: "delete" %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>